@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 1px;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
/****************************************************/
body {
    background: #ffffff;
    font:12px Arial,Verdana,sans-serif;
}

#page {
    width: 900px;
    margin:10px auto;
    padding:10px;
    position:relative;
    border:#e2e2e2 solid 1px;
}
h1 {
    font-weight:bold;
    font-size:24px;
    padding:30px 0 30px 0;
}
p {
    margin-bottom:5px;
}
/******************* Contact show *******************/
.contact dt {
    font-weight:bold
}
.contact dd {
    font-size:16px;
    padding:5px 0 20px 50px;
}
/******************* Contact edit *******************/
.errorlist, .message_error {
    color:red;
}
.message_ok {
    color:green;
}
.edit_contact label {
    font-weight:bold;
    margin-right:30px;
}
.edit_contact input {
    width:300px;
    margin:3px 0;
}
.edit_contact td, .edit_contact th {
    vertical-align:middle;
}
/* Calendar icon vertical align */
.edit_contact td img {
    margin-bottom:-4px;
}
/************** Auth *****************/
.auth label {
    font-weight:bold;
    margin-right:30px;
}
.auth input {
    margin:3px 0;
}
/************** Info  ********************/
#info {
    text-align:right;
}
#info span, #info a {
    margin-left:20px;
}
.cab {
    padding:10px 0;
}
.cab a {
    margin-left:10px;
}
.link {
    margin-right:10px
}
/************ Last request logs list *********************/
.query_logs td, .query_logs th {
    border:1px solid #e2e2e2;
    padding:3px;
    vertical-align:middle;
}
.query_logs th {
    text-align:center
}
.query_logs .even {
    background-color:#EDF3FE;
}
.query_logs .odd {
    background-color:#FFFFFF;
}
.query_logs tr:hover {
    background-color:#FFCCFF;
}
#last_logs {
}

