<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="Keywords" content="{% block keywords %}{{ keywords }}{% endblock %}" />
    <meta name="Description" content="{% block description %}{{ description }}{% endblock %}" />
	{% block extrahead %}{% endblock %}
    <link href="/media/css/base.css" rel="stylesheet" type="text/css" />
  </head>

  {% load i18n %}
  <body >
    <div id="page">
      <div id="info">
        <a id="last_logs" target="blanc" href="{% url last_logs %}">
          {% trans "Last 10 requests" %}
        </a>
        <span>{% trans "Language"%}: {{ settings.LANGUAGE_CODE|slice:":2"|capfirst }}</span>
        <span>{% trans "Mode"%}: {{ settings.DEBUG|yesno:"debug, real" }}</span>
      </div>
      <div class="cab">
        {% if request.user.is_authenticated %}
        {% trans "Welcome, "%}{{ request.user.username}}
        {% if request.user.is_staff %}
        <a href="/admin/">{% trans "Admin" %}</a>
        {% endif %}
        <a href="{% url django.contrib.auth.views.logout %}">
          {% trans "Logout" %}
        </a>
        {% endif %}
      </div>
      {% block content %}
      Content
      {% endblock %}
    </div>
  </body>
</html>
