{% extends "base.html"%}

{% load i18n %}
{% load owntags %}
{% block content %}
{% if contact %}
<h1>{% trans "Contact" %}</h1>
<dl class="contact">
  <dt>{% trans "Name" %}</dt>
  <dd>{{ contact.name }}</dd>
  <dt>{% trans "Surname" %}</dt>
  <dd>{{ contact.surname }}</dd>
  <dt>{% trans "Birthday" %}</dt>
  <dd>{{ contact.birthday }}</dd>
  <dt>{% trans "Biography" %}</dt>
  <dd>{{ contact.bio }}</dd>
  <dt>{% trans "Phone" %}</dt>
  <dd>{{ contact.phone }}</dd>
  <dt>{% trans "E-mail" %}</dt>
  <dd>{{ contact.email }}</dd>
</dl>
<a class="link" href="/edit_contact/" title="{% trans 'Edit contact' %}">
  {% trans "Edit contact" %}
</a>
<a class="link" href="{% admin_link contact %}" title="{% trans 'Edit contact in admin' %}">
  {% trans "Edit contact in admin" %}
</a>
{% else %}
<p>{% trans "Sorry, can't find contact." %}</p>
{% endif %}
{% endblock %}
